<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>系统登录</title>
<link href="css/login.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
<link href="css/demo.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/jquery1.42.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.js"></script>
<script type="text/javascript" src="js/Validform_v5.3.2_min.js"></script>

<script>
$(function(){

$(".i-text").focus(function(){
$(this).addClass('h-light');
});

$(".i-text").focusout(function(){
$(this).removeClass('h-light');
});

$("#username").focus(function(){
 var username = $(this).val();
 if(username=='输入账号'){
 $(this).val('');
 }
});

$("#username").focusout(function(){
 var username = $(this).val();
 if(username==''){
 $(this).val('输入账号');
 }
});


$("#password").focus(function(){
 var username = $(this).val();
 if(username=='输入密码'){
 $(this).val('');
 }
});


$("#yzm").focus(function(){
 var username = $(this).val();
 if(username=='输入验证码'){
 $(this).val('');
 }
});

$("#yzm").focusout(function(){
 var username = $(this).val();
 if(username==''){
 $(this).val('输入验证码');
 }
});



$(".registerform").Validform({
	tiptype:function(msg,o,cssctl){
		var objtip=$(".error-box");
		cssctl(objtip,o.type);
		objtip.text(msg);
	},
	ajaxPost:true
});

});




</script>


</head>

<body>


<div class="header">
  <h1 class="headerLogo"><a title="新&丽个人网站登录" target="_blank" href="#"><img alt="logo" src="images/logo.gif"></a></h1>
	<div class="headerNav">
		<a target="_blank" href="#" style="font-size: 20px">we</a>
		<a target="_blank" href="#" style="font-size: 20px">are</a>
		<a target="_blank" href="#" style="font-size: 20px">family</a>
	</div>
</div>

<div class="banner">

<div class="login-aside">
  <div id="o-box-up"></div>
  <div id="o-box-down"  style="table-layout:fixed;">
   <div class="error-box"></div>
   
   <form class="registerform" id = "login_submit">
	   <div class="fm-item">
		   <label for="logonId" class="form-label">新&丽系统登陆：</label>
		   <input type="text" value="admin666" maxlength="100" id="username" name="username" class="i-text" datatype="s6-18" errormsg="用户名至少6个字符,最多18个字符！"  >
		   <div class="ui-form-explain"></div>
	  </div>

	  <div class="fm-item">
		   <label for="logonId" class="form-label">登陆密码：</label>
		   <input type="password" value="123456" maxlength="100" id="password" name="password" class="i-text" datatype="*6-16" nullmsg="请设置密码！" errormsg="密码范围在6~16位之间！">
		   <div class="ui-form-explain"></div>
	  </div>
  
  <!--<div class="fm-item pos-r">
	   <label for="logonId" class="form-label">验证码</label>
	   <input type="text" value="输入验证码" maxlength="100" id="yzm" name="securityCode" class="i-text yzm" nullmsg="请输入验证码！" >
       <div class="ui-form-explain"><img src="images/yzm.jpg" class="yzm-img" /></div>
  </div>-->
  
  <div class="fm-item">
	   <label for="logonId" class="form-label"></label>
	   <input  type="button" value="" tabindex="4" id="send-btn" class="btn-login">
       <div class="ui-form-explain"></div>
  </div>
  
  </form>
  
  </div>

</div>

	<div class="bd">
		<ul>
			<li style="background:url(themes/theme-pic3.jpg) #CCE1F3 center 0 no-repeat;"><a target="_blank" href="#"></a></li>
			<li style="background:url(themes/theme-pic4.jpg) #BCE0FF center 0 no-repeat;"><a target="_blank" href="#"></a></li>
		</ul>
	</div>

	<div class="hd"><ul></ul></div>
</div>
<script type="text/javascript">jQuery(".banner").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"fold",  autoPlay:true, autoPage:true, trigger:"click" });</script>
<script type="text/javascript">
	$(function () {
        $("#send-btn").click(function () {
            var username = $("#username").val();
            var password = $("#password").val();
            var formData = new FormData();
            formData.append('username',username);
            formData.append('password',password);
            fetch("/person/submitLogin", {
                method: "POST",
                mode: "cors",//模式  允许跨域请求
                body: formData//表单序列化
            }).then(function (res) {
				return res.json()//返回值是一个新的promise对象，状态为resolved,所以执行then
            }).then(function(data){
                alert(data.data+"--"+data.errCode)
                if(data.errCode == "1001"){
                    window.location.href = "/login";//重新登陆
				}else{
                    window.location.href = "/toIndex";//跳转首页
				}
				console.log(data)
			}).catch(function(error){
                console.log("error",error.data)
            })
        })
    })
</script>

<div class="banner-shadow"></div>

<div class="footer">
   <p>Copyright &copy; 2018 <a href="http://www.xyxwhl.com/" target="_blank" title="新&丽之家">新&丽之家</a><p>粤ICP备18121282号</p>
</div>

</body>
</html>
